# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env

# Uploads Folder (Ignore uploaded files, keep folder)
uploads/*
!uploads/.gitkeep

# Local SQLite databases
*.sqlite3
*.db

# IDE & Editor Settings
.vscode/
.idea/